/* Shared Styles */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@400;700;800&family=Poppins:ital,wght@0,400;0,500;0,600;1,700&family=Sora:wght@400;600;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');
body{
font-family: 'Poppins', sans-serif;
}
*{
    margin:0;
    padding:0;
}
header{
    max-width: 1400px;
    margin: 50px auto;
    background: #FFF;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 38px;
}
nav a{
    text-decoration: none;
    color: #3A3A3A;
font-size: 16px;
font-weight: 600;
}
.nav-title{
    color: #3A3A3A;
font-size: 24px;
font-weight: 700;
}

/* Banner Section */
.banner{
    margin: 42px auto 0 auto;
    display: flex;
    gap:300px;

}
.banner-images{
    width: 475px;
height: 475px;
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-images img{
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;

    
}
.banner-title{
    color: #3A3A3A;
font-size: 52px;
font-weight: 700;
margin-top: 145px;
}
.banner-description{
    color: #3A3A3A;
font-size: 16px;
font-weight: 600;
margin-top: 16px;
margin-bottom: 16px;
}
.btn{
    border-radius: 41px;
background: #E02C6D;
padding: 10px 24px;
border:none;
color: #FFF;
font-size: 16px;
font-weight: 700;
}
.amazon{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
main{
    max-width: 1400px;
    margin: 0 auto;
    /* background-color: #E02C6D; */
}
.collection{
    margin-top: 100px;
    /* text-align: center; */
    /* border:1px solid aqua; */
}
.section-title{
    /* margin-left: 700px; */
    text-align: center;
    margin-bottom: 30px;
    margin-left: 60px;
}
.section-card{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap:50px;
    margin-left: 60px;

}
.card{
    width: 329px;
height: 476px;
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
padding: 30px;

}
.card:hover{
    border:2px solid #E02C6D;
    cursor: pointer;
}

.card img{
    width: 300px;
    height: 256px;
border-radius: 5px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;

}
.card-title{
    color:  #18191F;
font-size: 28px;
font-weight: 500;
margin-top: 16px;
}
.card-description{
    color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
font-family: Inter;
font-size: 24px;
font-weight: 400;
margin-top: 10px;
margin-bottom: 5px;
}
.card-last{
    color:  #787885;
font-family: Inter;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.252px;
margin-top: 8px;
}
.card-price{
    color:gray-80, #5E6366;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.1px;
/* margin-left: 5px; */
display: flex;
gap:10px;
}
.fa-star{
    width: 11.068px;
height: 10.316px;
color:#FB8200;
}
.shafi{
    color: rgba(224, 44, 109, 0.87);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 1300px;
margin-top: 50px;
}
.hero-features{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.features-image img{
    width: 404px;
height: 270px;
}
.features-title{
    color: #0A0826;
font-size: 38px;
font-weight: 700;
margin-bottom: 16px;
}
.features-description{
    width: 501px;
height: 88px;
    color: #6C6C6C;
font-size: 16px;
font-weight: 700;
margin-bottom: 16px;
}
.ahmed{
    display: inline-flex;
padding: 10px 24px;
gap: 8px;
background: #E02C6D;
color: #FFF;
font-size: 16px;
font-weight: 700;
border: none;
}
footer{
    margin-top: 100px;
    max-width: 1900px;
height: 239px;
background: #0A0826;
text-align: center;
}
.footer-title{
    color: #FFF;
font-family: Poppins;
font-size: 24px;
font-weight: 700;
padding-top: 50px;
margin-bottom: 3px;

}
.footer-description{
    color:  #D9DBE1;
font-family: Manrope;
font-size: 14px;
font-weight: 700;
margin-bottom: 4px;
}
.footer-small{
    color:  #D9DBE1;
font-family: Manrope;
font-size: 14px;
font-weight: 700;
margin-bottom: 20px;
}
.footer-images{
    display: flex;
    gap:12px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.chow{
    width: 32px;
height: 32px;
color:#FFFFFF;
}
@media screen and (max-width:576px){
    nav, nav > ul{
        flex-direction: column;
    }
    nav > ul{
        justify-content: center;
        align-items: center;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-images{
        width: 257px;
        height: 257px;
        margin: 0 auto;
    }
    .banner-images img{
        width: 202px;
        height: 190px;
    }
    .banner{
        gap:20px;
    }
    .banner-content{
        padding: 30px;
        text-align: center;
    }
    .banner-title {
        font-size: 28px;
        margin: 0;
    }
    .banner-description{
        font-size: 14px;
    }
   
    .amazon{
        padding: 10px;
        flex-wrap: wrap;
        margin: 0;
    }
    .amazon img{
        width: 80px;
        height: 60px;
    }
    /* Collection */
    .collection{
        margin:0;
    }
    .section-card{
        grid-template-columns: 1fr;
        margin: 0;
        padding: 8px;
    }
    .shafi{
        margin-left: 250px;
    }
    .hero-features{
        margin-top: 50px;
        flex-direction: column-reverse;
    }
    .features-title{
        color: #0A0826;
text-align: center;
font-size: 24px;
font-weight: 700;
    }
    .features-description{
        width: 329px;
height: 88px;
color: #6C6C6C;
text-align: center;
font-size: 16px;
font-weight: 700;

    }
    .features-content{
        padding:30px;
    }
    .ahmed{
        margin-top: 50px;
        margin-left: 100px;
    }
    .features-image img{
        width: 299px;
        height: 188px;
    
    }
}